<header class="container-fluid">
    <nav>
        <ul>
            <li>
                <a href="/">
                    <img src="images/profile-square.png?width=200&format=webp" class="avatar small"
                         alt="Profile picture of Fabian Schedler">
                </a>
            </li>
            <li><a href="/" class="contrast"><strong>Fabian Schedler</strong></a></li>
        </ul>
        <ul>
            <li>
                <div class="theme-toggle">
                    <a href="#" class="contrast" data-placement="left"></a><span class="sr-only"></span>
                </div>
            </li>
        </ul>
    </nav>
</header>